<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add</key>
	<dict>
		<key>36C28AB5-6566-4C50-9EBD-CBB920F83843</key>
		<dict>
			<key>current-network</key>
			<data>
			AAAAAAAAAAAEAAUABQAAAEw1LjBHAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			IAAAAOAx2M01WQS6DtII70Qi2nXN++Z2Nek5Gt38pVxR3+JD
			</data>
			<key>preferred-count</key>
			<integer>10</integer>
			<key>preferred-networks</key>
			<data>
			AAAAAAAAAAAEAAUABQAAAEw1LjBHAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			IAAAAOAx2M01WQS6DtII70Qi2nXN++Z2Nek5Gt38pVxR3+JDAAAA
			AAAAAAAEAAUABQAAAEwyLjRHAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAA
			AN0cz+9we5XU2SzRRbOiGIRd3w4lmMrQlsyLuAEQuuqXAAAAAAAA
			AAAEAAMACQAAAENNQ0MtMDMxMgAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAADef
			r7cf6gpyhRmE0kVTkUJFLuWdV7RqLxJCrtV7yNZTAAAAAAAAAAAE
			AAMAGAAAAOmDp+mYs+W5v+eUtee9kee7nOiZjuaIkAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAADE1biK4
			irXRHxqxGo4b1DmXnWC/2OBYWg3bqceK1CdwAAAAAAAAAAAEAAMA
			DAAAAOagvOael+ixquazsAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAE14KWW9WrnP
			b2dbkz4zRlBdZ9PCoK5y94RxDSH/oWV0AAAAAAAAAAAEAAMADwAA
			AOS8iua4heiLkemkkOWOhQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAFAWQYSCvhe9cIVK
			7kzwPL1WTpTQUmaJFxC9CBMhO2QaAAAAAAAAAAAEAAUABQAAAGxh
			b2xpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAJcFJzC4hfmvYZZGR9/l
			uB9AEcHZYfemBe1eBU8RqiLRAAAAAAAAAAAEAAMADwAAAENoaW5h
			TmV0LWdjY3djdAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAIAAAACZOPih3Dm4aOQDRiJmHq3ZC
			H807hU0mErRhNia83vuLAAAAAAAAAAAEAAUAGQAAAOKAnOWNoumG
			kuWuh+KAneeahCBpUGhvbmUAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAIAAAABwcaxsJqOlRETxXnrEdxvI1zzEB
			EvwLbSoWx8Kqsjm5AAAAAAAAAAAEAAMACAAAAENNQ0MtMzA2AAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAAAAAIAAAAH3NFRW5MttRuFld8lR4J8ClDnfIGzbN
			CWgTGz2qb7/p
			</data>
		</dict>
		<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
		<dict>
			<key>EFIBluetoothDelay</key>
			<data>
			uAs=
			</data>
			<key>LocationServicesEnabled</key>
			<data>
			AQ==
			</data>
			<key>SystemAudioVolume</key>
			<data>
			Rg==
			</data>
			<key>SystemAudioVolumeDB</key>
			<data>
			+Q==
			</data>
			<key>_kdp_ipstr</key>
			<data>
			MTkyLjE2OC4xLjI0MQ==
			</data>
			<key>bluetoothActiveControllerInfo</key>
			<data>
			iYKsBQAAAACDFGxACKOgJQ==
			</data>
			<key>bluetoothInternalControllerInfo</key>
			<data>
			iYKsBQAAgxRsQAijoCU=
			</data>
			<key>boot-args</key>
			<string>-v keepsyms=1 debug=0x100 brcmfx-driver=2</string>
			<key>csr-active-config</key>
			<data>
			/wcAAA==
			</data>
			<key>fmm-computer-name</key>
			<data>
			5Y2i6YaS5a6H55qEaU1hYyBQcm8=
			</data>
			<key>prev-lang:kbd</key>
			<data>
			ZW4tVVM6MAA=
			</data>
			<key>run-efi-updater</key>
			<data>
			Tm8A
			</data>
		</dict>
		<key>8BE4DF61-93CA-11D2-AA0D-00E098032B8C</key>
		<dict>
			<key>Boot0080</key>
			<data>
			AQAAABQBQwBhAHQAYQBsAGkAbgBhAAAAAgEMANBBAwoAAAAAAQEG
			AAAcAQEGAAAAAxcQAAEAAAAAAAAAAAAAAAQBKgACAAAAKEAGAAAA
			AABg8sgdAAAAAOp7Mq2h/4NLpx4DKkerSAsCAgQDJAD3/HS+fAvz
			SZFHAfQELmhCAt1TuNEel0GKBGihy07+kAQEmgBcADIAQwA2AEQA
			QwBCAEMAMwAtADEARQBGAEQALQA0ADQARAAxAC0AOQAyAEYAMAAt
			ADYARABGADgAMgA3AEQARQBCADcANwA1AFwAUwB5AHMAdABlAG0A
			XABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBl
			AHMAXABiAG8AbwB0AC4AZQBmAGkAAAB//wQA
			</data>
			<key>BootOrder</key>
			<data>
			gAA=
			</data>
		</dict>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
